@import '@components/commons/variables';
@import '@components/commons/mixins';

.restaurant-card-container {
  // margin-top: 15rem;
  // overflow: hidden auto;
  // height: 100vh;
  height: 75vh;
  // width: 100%;
  max-width: 30vw;
  // overflow-y: scroll;
  padding: 2rem 1rem;

  @include mixin-scrollbar;
}