@import '@components/commons/variables';
@import '@components/commons/mixins';

.today-restaurant-contianer{
  background-color: rgba($color: #ffffff, $alpha: 1.0);

  .title{
    text-align: center;
  }

  .button-wrapper{
    margin-top:0px;
    display: flex;
    justify-content: flex-end;
  } 

  .delete-button{
    color: $--main-color1;
    font-weight: bold;
    &:hover{
      cursor: pointer;
    }
  }
}