.info-window-container{
  display:flex;
  width: 15em;
  height: 10em;
  border: 1px solid black;
  flex-direction: column; 
  .title{
    text-align:center;
  }
  
  .close-btn{
    margin-left:auto;
  }
}