.card-container {
  border: 2px solid tomato;
  border-radius: 1rem;
  margin: 2rem 1rem;
  padding: 1rem 2rem;

  &:hover {
    background-color: beige;
  }

  .progress-wrapper {
    progress {
      height:2rem;
    }
  }

  .tag-container{
    .tag{
      display:inline-block;
      border: 2px solid black;
      border-radius: 1rem;
      padding: 1rem;
      margin: 5px 1rem;
      &:first-child{
        margin-left:0;
      }
    }
  }
}

